---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioCard from "@components/PortfolioCard.astro";
import { getCollection } from "astro:content";

const items = await getCollection("portfolio");
const ordered = items
  .slice()
  .sort((a, b) => (a.data.sortOrder ?? 999) - (b.data.sortOrder ?? 999));
---
<BaseLayout title="Home">
  <!-- Hero -->
  <section class="w-full pt-4 pb-8 sm:py-12">
    <div class="px-4 sm:container-site">
      <h1 class="text-2xl sm:text-3xl font-bold">Kieran Kelly</h1>
      <p class="text-xl sm:text-2xl text-gray-600 dark:text-gray-400">UX/UI Designer</p>
    </div>
  </section>

  <!-- Portfolio grid -->
  <main id="main" class="px-4 sm:container-site pb-6sm:pb-24">
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-4 gap-y-8 sm:gap-y-12">
      {ordered.map((item) => (
        <PortfolioCard
          href={`/portfolio/${item.slug}/`}
          title={item.data.title}
          cover={item.data.cover}
          caseSubtitle={item.data.caseSubtitle ?? item.data.client}
        />
      ))}
    </section>
  </main>
</BaseLayout>


